
<form action="/student" method="post">
	<table>
		<tr>
			<td>
				<input placeholder="CPF" type="text" name="cpf">
			</td>
		<tr>
			<td>
				<input  placeholder="Senha" type="password" name="password">
			</td>
		</tr>
		<tr>
			<td align="center">
		  	<input  type="submit" name="manda">
			</td>
		</tr>
	</table>
</form>