// Place all the styles related to the student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  margin: 15px !important;
}

.col-sm-4 {
  padding: 10px;
}

.box {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #eee;
}

.minibox {
  margin-bottom: 4px;
  background-color: #e8e8e8;
  padding: 5px;
}